# Dependencies
/node_modules/

# Production build
/dist

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor and OS files
.vscode/
.idea/
.DS_Store

# Optional: cache or lock files
package-lock.json
yarn.lock
